{{#if hasContent}}
    {{#each result}}
        <h2 id="articleTitle">{{this.title}}</h2>
        {{#if this.imgurl}}
            <img src="{{this.imgurl}}" id="imgurl" alt="">
        {{else}}
            <h3>Placeholder</h3>
        {{/if}}
        <h3>{{this.dcrpt}}</h3>
        <a href="{{this.url}}" id="url" >Read</a>
        <h6>{{this.time}}</h6><br>
    {{/each}}
{{else}}
    <h3>Your search has no result</h3>
{{/if}}

